# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore environment variables file
.env

# Ignore build directories
dist/
build/

# Ignore temporary files
*.tmp
*.temp

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore image files in a specific folder
images/*.jpg
images/*.png